<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Quiet expected ERROR logs from negative-path unit tests (catch -> log -> AppException) -->
    <logger name="com.itjob.service.impl.JwtServiceImpl" level="OFF"/>
    <logger name="com.itjob.service.impl.EmailServiceImpl" level="OFF"/>
    <logger name="com.itjob.service.storage.CloudinaryServiceImpl" level="OFF"/>
</configuration>
